<p class="pt-3"></p>
<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <p class="bd-notification">
      <code class="html"><p class="title">投稿一覧</p></code><br>
    </p>
  </div>
</div>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <% @likes.each do |like| %>
            <% picture = Picture.find_by(id: like.picture_id) %>
            <div class="column is-4">
                <div class="card"> <%# カードコンテンツ開始 %>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <%= link_to picture_path(picture) do %> <%# 絵の画像 %>
                            <%= attachment_image_tag picture, :image %>
                            <% end %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <p class="title is-4"><%= picture.title %></p><%# 絵タイトル %>
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-32x32"> <%# アイコン %>
                                            <%= attachment_image_tag picture.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                                        </p>
                                    </figure>
                                </article>
                            </div>
                            <div class="media-content"> <%# ユーザー名%>
                                <div class="content">
                                    <p>
                                        <strong><%=link_to picture.user.username, user_path(picture.user) %></strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>