<p class="pt-3"></p>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @pictures.each do |picture| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to picture_path(picture) do %>
                  <%= attachment_image_tag picture, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <%= attachment_image_tag picture.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to picture.user.username, user_path(picture.user) %></div>
                </div>
                
              </div>

              <div class="content">
                <time><%= picture.updated_at.strftime("%Y-%m-%d") %></time>update
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
