<p class="pt-3"></p>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <% @pictures.each do |picture| %>
            <div class="column is-4">
                <div class="card"> <%# カードコンテンツ開始 %>
                    <div class="card-image">
                        <figure class="image is-4by5"> <%# 絵の画像 %>
                            <%= link_to picture_path(picture) do %>
                            <%= attachment_image_tag picture, :image %>
                            <% end %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p class="title is-4"><%= picture.title %></p><%# 絵タイトル %>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-32x32"> <%# アイコン %>
                                    <%= attachment_image_tag picture.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                                </figure>
                            </div>
                            <div class="media-content"> <%# ユーザー名%>
                                <p class="title is-6"><%=link_to picture.user.username, user_path(picture.user) %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</section>

<%# 画像ずれるの解消する %>